# Blue Clover PLT Demo V2 board configuration
#
# Copyright (c) 2021 Blue Clover Devices
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_BLUECLOVER_PLT_DEMO_V2

config BOARD
	default "BOARD_BLUECLOVER_PLT_DEMO_V2"

config BT_CTLR
	default BT

endif # BOARD_BLUECLOVER_PLT_DEMO_V2
