# Kconfig - nRF52 LY10DEMO board configuration
#
# Copyright (c) 2019 Blue Clover Devices
#
# SPDX-License-Identifier: Apache-2.0

if BOARD_LY10DEMO

config BOARD
	default "ly10demo"

config BT_CTLR
	default BT

endif # BOARD_LY10DEMO
